<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label>Tutorial Name</label>
          </div>
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [(ngModel)]="tutorial.name"
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="
          angForm.controls['name'].invalid &&
          (angForm.controls['name'].dirty || angForm.controls['name'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label>Tutorial Type</label>
          </div>
          <div class="col-md-4">
            <select class="mdb-select md-form" searchable="Search here..">
              <option
                *ngFor="let category of tutorialCategories"
                [value]="category.title"
              >
                {{ category.title }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <img src="assets/imgs/java.png" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label>Tutorial Url</label>
          </div>
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              formControlName="price"
              [(ngModel)]="tutorial.url"
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="
          angForm.controls['price'].invalid &&
          (angForm.controls['price'].dirty || angForm.controls['price'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="angForm.controls['price'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <button
          (click)="addCoin(tutorial.name, tutorial.url)"
          [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary"
        >
          Add
        </button>
      </div>
    </form>
    // {{ tutorial | json }}//
  </div>
</div>
