<table class="table table-hover" *ngIf="coins != 0">
  <thead>
    <tr>
      <td>Tutorial Name</td>
      <td>Tutorial Link</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tutorial of (tutorials | async)">
      <td>{{ tutorial.name }}</td>
      <td>{{ tutorial.url }}</td>
    </tr>
  </tbody>
  <!-- <table class="table table-hover" *ngIf="coins != 0">
    <thead>
      <tr>
        <td>Coin Name</td>
        <td>Coin Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of (coins | async)">
        <td>{{ coin.name }}</td>
        <td>{{ coin.price }}</td>
      </tr>
    </tbody>
  </table> -->
</table>
